section.section.intro
  .intro__container
    .intro__block
      p.intro__heading-text
        | Business intelligence
        span
          |   in agriculture
    .intro__block
      h1.intro__heading
        | Start making decisions based on all data
      p.intro__text
        | Business analysis with BI help you to use data effectively to manage your farm with maximum benefit.
