section.section.types.types__container
  h2.types__heading.site-second-heading
    | It can be used for any types of farms
    span
      |   and productions
  .types__slider-container
    .types__slider-container-block
      .slider-nav
        button.slider-nav__btn
          +icon-mono("shevron-left")(class="slider-nav__btn-icon" width="8" height="16")
        button.slider-nav__btn.is-active
          +icon-mono("shevron-right")(class="slider-nav__btn-icon" width="8" height="16")
    .types__slider-container-block
      .types__slider.swiper
        .swiper-wrapper
          .types__item.swiper-slide

